@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/* #dc5959 - cool color for body */
body {
    background-color: #e5e5e5;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 14px;
}
  
ul {
    background: #dc5959;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
  
li {
    color: #fff;
    background: #dc5959;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    transition-duration: 0.5s;
}
    
li a {
    color: #fff;
}
  
li:hover {
    background: #ffad06;
    cursor: pointer;
}
  
ul li ul {
    background: #ffad06;
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}



.container {
    max-width: 1240px;
    margin: 0 auto;
    background-color: white;
}

h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.upside__part {
    justify-content: center;
}

.search-box {
    background: #333;
    width: 60%;
    border-radius: 6px;
    overflow: hidden;
}

.search-box .search-box__input {
    border: none;
    background: transparent;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    color: white;
}

.search-box__searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.options {
    border-top: 2px solid #999;
}

.options div {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #666;
    color: white;
    cursor: pointer;
}

.options div:hover{
    background-color: #f06e6e;
}

.option {
    /* background-color: #1343d3; */
    background-color: #ca4a4a;
}

.main {
    margin-top: 1.5rem;
    background-color: #333;
    height: 600px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.main__content {
    height: 100%;
}

.main__content .translate {
    background-color: #333;
    width: 100%;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.main__content .picture {
    background-color: #333;
    width: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.picture__introduction {
    color: white;
    margin-top: 15px;
}


#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;;
}

.main__content .picture .picture__slider {
    display: flex;
}


.introduction__context {
    text-align: center;
}

.main__content .right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #dc5959;
    width: 70%;
    line-height: 30px;
    color: white;
}

.main__content .right-content .context__info {
    text-align: center;
    margin: 0 10px;
}

.grid__synonyms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    justify-items: center;
}

.grid__synonyms .synonym__button {
    width: 70%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    outline: none;
}

.wrap__context-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.wrap__card {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    height: 80%;
    width: 80%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
    overflow-y: auto;
}

.card .card__word {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.card .card__description {
    text-align: center;
    font-size: 15px;
}

.card .card__footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.remember-context-btn,.back-to-synonyms-btn {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #dc5959;
    color: white;
    outline: none;
    cursor: pointer;
}

/* Vocabulary section */

.vocabulary {
    background-color: #333;
}

.word__section {
    padding: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
}

.translation {
    width: 80%;
    cursor: pointer;
    padding: 15px;
}

.translation:hover {
    background-color: #dc5959;
    transition: all 0.7s ease-in-out;
    border-radius: 15px;
}

.main__word-info{
    display: flex;
    justify-content: space-between;
}

.word__definition {
    transition: all 0.7s ease-in-out;
}

.trash-button{
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #dc5959;
}

.dictionary-logo {
    color: #ffad06;
}

.trash-button i {
    font-size: 20px;
}
