@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/* #dc5959 - cool color for body */
body {
    background-color: #e5e5e5;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

nav {
    height: 10vh;
    background: linear-gradient(to right, #777575, #1f1c17);
}

.nav-links {
    display: flex;
    list-style: none;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 24px;
}

.nav-links li a:hover {
    background-color: #ffad06;
    transition: all 0.7s ease;
}


.container {
    height: 90vh;
    max-width: 1240px;
    margin: 0 auto;
    background-color: white;
}

.app-logo {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
}

.upside__part {
    justify-content: center;
    padding-bottom: 1rem;
}

.search-box {
    background: #333;
    width: 60%;
    border-radius: 6px;
    overflow: hidden;
}

.search-box .search-box__input {
    border: none;
    background: transparent;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    color: white;
}

.search-box__searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.options {
    border-top: 2px solid #999;
}

.options div {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #666;
    color: white;
    cursor: pointer;
}

.options div:hover{
    background-color: #f06e6e;
}

.option {
    /* background-color: #1343d3; */
    background-color: #ca4a4a;
}

.main {
    /* margin-top: 1.5rem; */
    background-color: #333;
    height: 90vh;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.main__content {
    height: 100%;
}

.main__content .translate {
    background-color: #333;
    width: 100%;
    min-height: 10%;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.main__content .translate p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}

.main__content .picture {
    background-color: #333;
    width: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.picture__introduction p {
    text-align: center;
    color: white;
    margin-top: 16px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 34px;
    padding: 8px;
}


#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;;
}

.main__content .picture .picture__slider {
    display: flex;
}


.introduction__context p{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 34px;
    line-height: 3rem;
    padding: 8px;
    text-align: center;
}

.main__content .right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #dc5959;
    width: 70%;
    line-height: 30px;
    color: white;
}

.main__content .right-content .context__info {
    text-align: center;
    margin: 0 10px;
}

.grid__synonyms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    justify-items: center;
}

.grid__synonyms .synonym__button {
    width: 70%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    outline: none;
}

.wrap__card {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    height: 80%;
    width: 80%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
    overflow-y: auto;
}

.card .card__word {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.card .card__description {
    text-align: center;
    font-size: 15px;
}

.card .card__footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.remember-context-btn,.back-to-synonyms-btn {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #dc5959;
    color: white;
    outline: none;
    cursor: pointer;
}

/* Vocabulary section */

.vocabulary {
    margin-top: 20px;
    background-color: #333;
}

.word__section {
    padding: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
}

.translation {
    width: 80%;
    cursor: pointer;
    padding: 15px;
}

.translation:hover {
    background-color: #dc5959;
    transition: all 0.7s ease-in-out;
    border-radius: 15px;
}

.main__word-info{
    display: flex;
    justify-content: space-between;
}

.word__definition {
    transition: all 0.7s ease-in-out;
    margin-top: 8px;
}

.trash-button{
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #dc5959;
}

.dictionary-logo {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    color: #ffad06;
}

.trash-button i {
    font-size: 20px;
}



/* Media Queries */

@media(max-width: 860px){
    .main {
        height: 100%;
    }

    .main__content {
        flex-direction: column;
    }

    .main__content .translate {
        padding: 24px;
    }

    .left-content {
        width: 100%;
    }

    .main__content .right-content {
        width: 100%;
        height: 100vh;
    }

    .vocabulary{
        height: 100vh;
    }
}

@media(max-width: 600px){
    .nav-links {
        width: 100%;
    }
}

@media(max-height: 800px){
    .container {
        height: 100%;
    }
}

@media(max-width: 480px) {
    .card .card__footer {
        flex-direction: column;
        align-items: center;
    }

    .remember-context-btn, .back-to-synonyms-btn {
        width: 150px;
        margin-bottom: 10px;
    }

    .vocabulary .dictionary-logo {
        font-size: 2rem;
    }
}

@media(max-width: 400px){
    .main__content .picture {
        width: 375px;
    }
}

@media(max-width: 375px){

    .main__content .picture {
        width: 320px;
    }
}